.App {
  text-align: center;
}
.bg-color {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.pt-5{
  padding-top: 5rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pt-3{
  padding-top: 3rem;
}
.pt-2{
  padding-top: 2rem;
}
.pt-1{
  padding-top: 1rem;
}

.pb-5{
  padding-top: 5rem;
}
.pb-4 {
  padding-top: 4rem;
}
.pb-3{
  padding-top: 3rem;
}
.pb-2{
  padding-top: 2rem;
}
.pb-1{
  padding-top: 1rem;
}